<div class="list-canvas" style="height: 207px;">

  <div class="list">
    <h2 class="list-header-name"><%= list.get('title') %></h2>
  </div>

  <button type="button" class="new-list-button">New List</button>

  <div class="back-button"><a href="#" class="back-index">Boards</a></div>

</div>
