

<form class="board-form">
  <label for='title'>Title</label>
  <input type="text" name="board[title]" id='title' value='<%= board.escape('title') %>' >

  <button type="submit" class="board-form-button">Create Board</button>
  <div class="back-button"><a href="#" class="back-index">Boards</a></div>
</form>
