<div class="board-canvas" style="height: 207px;">
  <form class="board-form">
    <label>Title
    <input type="text" name="name" value=""></label>

    <button type="submit" class="new-board">Create Board</button>
    <div class="back-button"><a href="#" class="back-index">Boards</a></div>
  </form>
</div>
