
  <div class="board-index"><%= board.get('title') %></div>

  <div class="list-show">

  </div>

  <button type="button" class="new-board-button">New List</button>

  <div class="back-button"><a href="#" class="back-index">Boards</a></div>
