/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
  background-color: rgb(0, 121, 191);
}

div.backdrop {
  margin-left: 43px;
}

a.list-header {
  display: inline;
  font-size: 15px;
  line-height: 18px;
  margin: 0;
  min-height: 19px;
  min-width: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  color: #fff;
}

.board-list li {
  float: left;
  width: 25%;
  height: 108px;
  box-sizing: border-box;
  position: relative;
  margin-top: 7px;
  margin-right: 16px;
  text-decoration: none;
  background-color: rgba(0,0,0,.12);
}

div.list {
  margin-left: 14px;
  margin-top: -16px;
}

li a {
  color: #fff;
  height: 90px;
  margin: 0 16px 16px 0;
  font-size: 16px;
  line-height: 22px;
}

li:hover {
  text-decoration: none;
  background-color: #026AA7;
}

li.draggable {
  position: relative;
  background-color: snow;
  -webkit-box-align: center;
  display: -webkit-box;
  color: #4d4d4d;
  left: -22px;
  margin: 5px;
  border-radius: 4px;
  height: 34px;
  text-indent: 21px;
  top: auto;

}

button.new-board-button {
  margin-left: 11px;
  float: left;
}

div.back-button {
  background-color: #1E6690;
  width: 50px;
  float: left;
  position: absolute;
  top: -11px;
  right: 9px;
}

div.back-button:hover {
  background-color: #124867;
}

div.board-index {
  color: #f6f6f6;
  font-size: 18px;
  cursor: default;
  font-weight: 700;
  line-height: 30px;
}

h2.board-header-name {
  display: inline;
  font-size: 15px;
  line-height: 18px;
  margin: 0;
  min-height: 19px;
  min-width: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

h2.board-header-name:hover {
  text-decoration: none;
}

ul.list {
  background: #e2e4e6;
  border-radius: 3px;
  flex: 0 0 270px;
  margin: 0 5px;
  max-height: 100%;
  float: left;
  width: 270px;
  position: relative;
}
